<div class="container app-bg2">
  <div class="row">
    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="agent-detail ag-alert">
        <div class="dp"><img src="/src/images/placeholder.png" alt="" /></div>
        <h4>NETCO. Inc</h4> <span>Las Vegas, NV</span>
        <div class="clearfix"></div>
        <div class="amount"><span>Net Premium</span><br>$15,595 (93%)</div>
        <div class="alerts"><span>Alerts</span><br><span class="red">12</span> | <span class="orange">2</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="agent-detail ag-alert">
        <div class="dp"><img src="/src/images/placeholder.png" alt="" /></div>
        <h4>NETCO. Inc</h4> <span>Las Vegas, NV</span>
        <div class="clearfix"></div>
        <div class="amount"><span>Net Premium</span><br>$15,595 (93%)</div>
        <div class="alerts"><span>Alerts</span><br><span class="red">12</span> | <span class="orange">2</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="agent-detail ag-alert">
        <div class="dp"><img src="/src/images/placeholder.png" alt="" /></div>
        <h4>NETCO. Inc</h4> <span>Las Vegas, NV</span>
        <div class="clearfix"></div>
        <div class="amount"><span>Net Premium</span><br>$15,595 (93%)</div>
        <div class="alerts"><span>Alerts</span><br><span class="red">12</span> | <span class="orange">2</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="agent-detail ag-alert">
        <div class="dp"><img src="/src/images/placeholder.png" alt="" /></div>
        <h4>NETCO. Inc</h4> <span>Las Vegas, NV</span>
        <div class="clearfix"></div>
        <div class="amount"><span>Net Premium</span><br>$15,595 (93%)</div>
        <div class="alerts"><span>Alerts</span><br><span class="red">12</span> | <span class="orange">2</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="agent-detail ag-alert">
        <div class="dp"><img src="/src/images/placeholder.png" alt="" /></div>
        <h4>NETCO. Inc</h4> <span>Las Vegas, NV</span>
        <div class="clearfix"></div>
        <div class="amount"><span>Net Premium</span><br>$15,595 (93%)</div>
        <div class="alerts"><span>Alerts</span><br><span class="red">12</span> | <span class="orange">2</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="agent-detail ag-alert">
        <div class="dp"><img src="/src/images/placeholder.png" alt="" /></div>
        <h4>NETCO. Inc</h4> <span>Las Vegas, NV</span>
        <div class="clearfix"></div>
        <div class="amount"><span>Net Premium</span><br>$15,595 (93%)</div>
        <div class="alerts"><span>Alerts</span><br><span class="red">12</span> | <span class="orange">2</span></div>
      </div>
    </div>



    <button (click)="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-arrow-up"></span></button>


  </div>
