<div class="container-fluid nospace">
  <div class="container nav-bg">
    <div class="row">

      <div class="col-xs-2 toppad"><img src="/src/images/back-btn.svg" alt=""></div>
      <div class="col-xs-7 text-center">
        <h1 class="t-agent">Contact</h1>
      </div>
      <div class="col-xs-3 text-center tpad"><img src="/src/images/edit.svg" alt=""><br><span class="edit-detail"><a
            href="#">Edit Details</a></span></div>
    </div>

  </div>
  <div class="container app-bg2">
    <div class="row">
      <div class="col-xs-12 col-md-6 cell-bg">
        <div class="agent-contact">
          <h4>Address</h4> <span class="ag-add">7345 S. Pechos Rd.</span>
          <div class="clearfix"></div>
          <div class="state"><span>State</span><br> <span class="st2">Nevada</span></div>
          <div class="state"><span>Pin Code</span><br><span class="st2">89120</span></div>

        </div>
      </div>

      <div class="col-xs-12 col-md-6 cell-bg">
        <div class="agent-contact">
          <h4>Contact Number 1</h4> <span>720-434-1417</span>
          <div class="clearfix"></div>
          <div class="ag-detail">
            <ul>
              <li class="call">Call</li>
              <li class="sms">SMS</li>
              <li class="copy">Copy</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-md-6 cell-bg">
        <div class="agent-contact">
          <h4>Contact Number 1</h4> <span>720-434-1417</span>
          <div class="clearfix"></div>
          <div class="ag-detail">
            <ul>
              <li class="call">Call</li>
              <li class="sms">SMS</li>
              <li class="copy">Copy</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 cell-bg">
        <div class="agent-contact">
          <h4>E-mail ID</h4> <span><a href="mailto">adam.millendorf@outlook.com</a></span>
          <div class="clearfix"></div>
          <div class="ag-detail">
            <ul>
              <li class="mail">E-mail this ID</li>
            </ul>
          </div>
        </div>
      </div>

      <button (click)="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-arrow-up"></span></button>
    </div>
  </div>
</div>
