<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 cell-bg">
      <div class="agent-detail">
        <div class="dp">
          <div class="badge bd-col">A</div><img src={{agentInfo.agentImg}} alt="" />
        </div>
        <h4>{{agentInfo.agentName}}</h4> <span class="building-icon">287156</span>
        <div class="clearfix"></div>
        <div class="amount bx1"><span>Net Premium</span><br>{{agentInfo.agentNetPremium}}</div>
        <div class="amount bx2"><span><img src="/src/images/share.svg" alt="" /></span></div>
        <div class="amount bx3"><span><img src="/src/images/doc.svg" alt="" /></span></div>
      </div>
    </div>

    <div class="col-xs-12 col-md-12">
      <ul class="agent-details">
        <li class="agent-contact" (click)="contactDetailClick()"><a>Contact </a></li>
        <li class="objectives"><a href="#">Objective</a></li>
        <li class="notes"><a href="#">Notes</a></li>
        <li class="events"><a href="#">Events</a></li>
        <li class="agent-tags"><a href="#">Tags</a></li>
        <li class="associates"><a href="#">Associates</a></li>
        <li class="associates"><a href="#">13 Month Activity</a></li>
        <li class="associates"><a href="#">Compliance</a></li>
        <li class="associates"><a href="#">Alerts</a></li>
        <li class="associates"><a href="#">Claims</a></li>
        <li class="associates"><a href="#">Social</a></li>
        <li class="associates"><a href="#">E-mail</a></li>
        <li class="associates"><a href="#">Audits</a></li>


      </ul>


    </div>
  </div>
