<div class="bg">
  <div class="container-fluid">
    <div class="container">
      <header>
        <div class="row">
          <div class="col-md-12 col-xs-12 text-center">
            <h1 class="logo"><a href="/"><img src="../../../assets/images/logo.png" class="img-reponsive" alt="" /><br><img
                  src="../../../assets/images/Compass.png" class="img-reponsive" alt="" /></a></h1>
          </div>
        </div>
      </header>
    </div>
    <div class="container app-bg">
      <div class="row">
        <form>
          <div class="col-md-12 col-xs-12 text-center box2">
            <div class="divider"></div>
            <p>Please Provide your registered email ID to get your password</p>
            <label for="registered">Registered Email ID</label>
            <div class="input-group">
              <input type="email" class="form-control" id="email" placeholder="Enter your Email ID">
            </div>
          </div>

          <div class="col-md-12 col-xs-12 text-center box1">

            <button type="button" class="btn btn-primary btn-lg btn-login">Submit</button>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
