<div class="container app-bg2">
  <div class="row">
    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="agent-detail ag-perform">
        <div class="dp"><img src="/src/images/placeholder.png" alt="" /></div>
        <h4>DisneyWorld</h4> <span>Orlando, FL</span>
        <div class="clearfix"></div>
        <div class="amount"><span class="year">Current Year %</span><br> <span class="price">$15,595 (93%)</span></div>
        <div class="alerts"><span class="month">Current Month %</span><br><span class="price">$15,595 (93%)</span></div>
        <div class="clearfix"></div>
        <div class="last24"><span>Last 24</span><br> <span class="">-</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="agent-detail ag-perform">
        <div class="dp"><img src="/src/images/placeholder.png" alt="" /></div>
        <h4>DisneyWorld</h4> <span>Orlando, FL</span>
        <div class="clearfix"></div>
        <div class="amount"><span class="year">Current Year %</span><br> <span class="price">$15,595 (93%)</span></div>
        <div class="alerts"><span class="month">Current Month %</span><br><span class="price">$15,595 (93%)</span></div>
        <div class="clearfix"></div>
        <div class="last24"><span>Last 24</span><br> <span>-</span></div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="agent-detail ag-perform">
        <div class="dp"><img src="/src/images/placeholder.png" alt="" /></div>
        <h4>DisneyWorld</h4> <span>Orlando, FL</span>
        <div class="clearfix"></div>
        <div class="amount"><span class="year">Current Year %</span><br> <span class="price">$15,595 (93%)</span></div>
        <div class="alerts"><span class="month">Current Month %</span><br><span class="price">$15,595 (93%)</span></div>
        <div class="clearfix"></div>
        <div class="last24"><span>Last 24</span><br> <span>-</span></div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="agent-detail ag-perform">
        <div class="dp"><img src="/src/images/placeholder.png" alt="" /></div>
        <h4>DisneyWorld</h4> <span>Orlando, FL</span>
        <div class="clearfix"></div>
        <div class="amount"><span class="year">Current Year %</span><br> <span class="price">$15,595 (93%)</span></div>
        <div class="alerts"><span class="month">Current Month %</span><br><span class="price">$15,595 (93%)</span></div>
        <div class="clearfix"></div>
        <div class="last24"><span>Last 24</span><br> <span>-</span></div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="agent-detail ag-perform">
        <div class="dp"><img src="/src/images/placeholder.png" alt="" /></div>
        <h4>DisneyWorld</h4> <span>Orlando, FL</span>
        <div class="clearfix"></div>
        <div class="amount"><span class="year">Current Year %</span><br> <span class="price">$15,595 (93%)</span></div>
        <div class="alerts"><span class="month">Current Month %</span><br><span class="price">$15,595 (93%)</span></div>
        <div class="clearfix"></div>
        <div class="last24"><span>Last 24</span><br> <span>-</span></div>
      </div>
    </div>
    <button (click)="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-arrow-up"></span></button>
  </div>
